.body_card1 {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_card1 {
  background-image: url(../images/fondo_card1.svg);
  width: 506px;
  height: 328px;
}

.flex {
  display: flex;
}

.hora_card1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.36px;
  color: #ffffff;
}

.dia_card1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  letter-spacing: -0.33px;
  color: #ffffff;
  margin-left: 24px;
}

.horario_card1 {
  gap: 17px;
}

.lagos {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
  margin-left: 24px;
}

.nigeria {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
  margin-left: 24px;
}

.texto_card1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 24px;
}

.relativo_card1 {
  width: 34px;
  height: 28px;
  position: relative;
  margin: 0;
  margin-left: 24px;
}

.absoluto1_card1 {
  position: absolute;
  left: 8px;
  top: 10px;
}

.absoluto2_card1 {
  position: absolute;
}

.grados_card1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 0;
}

.gap_card1 {
  gap: 7px;
}

.grados_card1 p {
  margin: 0;
}

.party_card1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 0px;
  margin-left: 24px;
}

.body_card2 {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_card2 {
  background-color: #ffffff;
  width: 379px;
  height: 125px;
}

.titulo_card2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  width: 136px;
  height: 22px;
  color: #1a2b49;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: px;
}

.titulo_card2 p {
  margin: 0;
  margin-top: 21px;
}

.texto_card2 {
  width: 230px;
  height: 23px;
  font-weight: 400;
  font-size: 8px;
  color: #1a2b49;
  margin: 0;
}

.texto_card2 p {
  margin: 0;
}

.boton1_card2 {
  width: 89px;
  height: 26px;
  background-color: #00aeff;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 9px;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
}

.boton2_card2 {
  width: 89px;
  height: 26px;
  border-radius: 2px;
  border: 0.5px solid #1a2b49;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 9px;
  text-align: center;
}
.imagen_card2 {
  margin-top: 34px;
  margin-left: 29px;
}

.todo_card2 {
  margin-left: 29px;
}

.gap_card2 {
  gap: 4px;
}

.body_card3 {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #252525;
}

.container_card3 {
  width: 300px;
  height: 240px;
  background-image: url(../images/fondo_card3.svg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.cape_card3 {
  width: 224px;
  height: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.94px;
  color: white;
}

.gregory_card3 {
  width: 89px;
  height: 18px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin: 0;
  margin-left: 67px;
  margin-top: 9px;
}

.margin_card3 {
  margin-left: 20px;
  margin-bottom: 60px;
}

.imagen_card3 {
  margin: 0;
  margin-left: 91px;
  margin-top: 16px;
}

.img_card3 {
  position: absolute;
}

.body_card4 {
  display: flex;
  background-color: #252525;
  justify-content: center;
  align-items: center;
}

.container_card4 {
  width: 166px;
  height: 302px;
  background-color: white;
}

.titulo_card4 {
  width: 138px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #1a2b49;
}

.valoracion_card4 {
  color: white;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #32a636;
  display: flex;
  justify-content: center;
  text-align: center;
}

.valoracion_card4 p {
  margin-top: px;
}

.fair_card4 {
  width: 51px;
  height: 14px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
}

.from_card4 {
  width: 32px;
  height: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 11px;
  color: #1a2b49;
  margin: 0;
}
.from_card4 p {
  margin: 0;
}
.dinero {
  width: 32px;
  height: 20px;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 14px;
  color: #1a2b49;
  margin: 0;
}

.dinero p {
  margin: 0;
}

.body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.img {
  width: 245px;
  height: auto;
}

.div {
  justify-content: center;
  gap: 55px;
}

header {
  background-color: #252525;
  padding: 16px;
}

footer {
  background-color: #252525;
  margin-top: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer span {
  font-size: 19px;
}

.relleno {
  transition: transform 0.4s ease;
}

.relleno:hover {
  transform: scale(1.1);
}

.relleno2 {
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
}

.relleno2:hover {
  transform: scale(1.1);
}

.relleno3 {
  transition: transform 0.4s ease;
}

.relleno3:hover {
  transform: scale(1.1);
}

.relleno4 {
  transition: transform 0.4s ease;
}

.relleno4:hover {
  transform: scale(1.1);
}

.relleno5 {
  transition: transform 0.4s ease;
}

.relleno5:hover {
  transform: scale(1.1);
}
